body {
  font-family: 'Josefin Sans', sans-serif;
  background: url(../images/balloons.png) no-repeat center center fixed;
  background-size: cover;
}

.delete-btn {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/delete_button.png);
  background-size: 20px;
}

.completed-btn {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/tick2.png);
  background-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-rows: 30% 70%;
}

h1, h3 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #f3f315, 0 0 30px #f3f315, 0 0 40px #f3f315, 0 0 55px #f3f315, 0 0 75px #f3f315;
}

h1 {
  font-size: 4.3rem;
}

h3 {
  font-size: 2rem;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: right;
}

div#item {
  background-color: white;
  margin: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 18rem;
}

input {
  font-size: 1rem;
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  width: 18rem;
}

#item {
  display: inline-block;
  text-align: center;
}

button {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.list {
  background-color: grey;
}
